/*  ( * ->this "*"  is called universal selector  */

* {
    box-sizing: border-box;
    margin: 0;
}

.rigth {
    padding: auto;
}

.left{
    padding: auto;
}

body {
    /* font-family: */
    color: rgb(19, 86, 141)
}

.wrapper {
    /* max-width: 1440;
    height: 600px; */
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    /* for vertical align */
    align-items: center;
    /* for horizontal align */
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 5px;
}



h1 {
    font-size: 70px;
    font-weight: bolder;
}

.restart {
    background-color: white;
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid rgb(19, 86, 141);
    transform: all 0.2s ease;
    /* whenever we move curser it will convert to hand */
    cursor: pointer;
    font-weight: bolder;
    margin-top: 30px;
}

.restart:hover {
    background-color:rgb(19, 86, 141);
    color: white  ;
    /* color :  */
}

.game {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    padding-left: 40px;
}

.header {
    display: flex;
    color: rgb(49, 48, 47);
    font-weight: bolder;
    font-size: 28px;
}

/* giving space b/w span Player-X & Player-O */
.header .player-x {
    flex: 1;
    border-bottom: 3px solid rgba(0, 0, 0, 0.342);
    padding-bottom: 10px;
}

.header .player-o {
    flex: 1;
    border-bottom: 3px solid  rgba(0, 0, 0, 0.342);
    padding-bottom: 10px;
}

/* if the player is active then change its color */
/* by default both rae active */
.player-x.active{
    color: #42bed7;
    border-bottom: 5px solid;
    border-color:  #42bed7;
}

.player-o.active{
    color: orange;
    border-bottom: 5px solid;
    border-color: orange;
}

.tile-x {
    color: #42bed7;
}

.tile-o {
    color: orange;
}

.winner-tile span {
    color: rgb(163, 238, 25);
}

/* for creating the grid */
.board {
    /* background-color: aqua; */
    display: grid;
    /* 1fr means we are asking each tiles to take eql fraction of space */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0px;
    flex-grow: 1;
    padding: 20px;
    
}

.board-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    background-color: white;
    cursor: pointer;
}

/* :not(:nth-child(3n)) -> means tile which are in position of multiple of 3 except them */
.board-tile:not(:nth-child(3n)) {
    border-right: 3px solid rgba(45, 134, 207, 0.418);
}

.board-tile:not(:nth-last-child(-n+3)) {
    border-bottom: 3px solid rgba(45, 134, 207, 0.418);
}

.board-tile:hover {
    background: #eee;
}

/* when our screen becomes less then 1200 ps the change the wraper class flex to collumn direction */
@media only screen and ( max-width : 1200px ){
    .wrapper {
        flex-direction: column;
    }

    .left{
        margin-bottom: 35px;
    }
}
